/* Variable */
:root {
   --alpha-white: #fafafa;
   --beta-white: #e7e7e3;
   --alpha-blue: #4a69e2;
   --alpha-grey: #232321;
}

/* Main Style */
* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   font-family: "Rubik", Poppins, Montserrat, Segoe UI;
}

body {
   background-color: var(--beta-white);
}

nav {
   width: 90%;
   margin: 40px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px;
   background-color: var(--alpha-white);
   border-radius: 24px;
   position: relative;
}

/* Navbar */
.upperTray-left {
   display: flex;
   gap: 40px;
   align-items: center;
   text-align: center;
}

.upperTray-left li a {
   color: var(--colour-text);
}

.brand-logo {
   width: 128px;
   height: 40px;
   align-items: center;
}

.upperTray-right {
   display: flex;
   gap: 40px;
   align-items: center;
}

.upperTray-right li a img {
   width: 22px;
   height: 22px;
}

/* Body - Brand Text */
.huge-font {
   justify-content: center;
   text-align: center;
   font-size: 100px;
   font-style: normal;
   font-weight: 700;
   line-height: 265px;
   text-transform: uppercase;
   color: #232321;
   flex: none;
   flex-grow: 0;
   order: 0;
   gap: 32px;
   margin: 40px;
}

#right {
   color: #4a69e2;
   flex-direction: column;
}

/* Body - Catalogue */
.main-catalogue {
   background-image: "";
   background-color: antiquewhite;
}

/* secret source code >>
/* Auto layout 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

/* Yellow 
background: #FFA52F;
border-radius: 32px;

/* Inside auto layout
flex: none;
order: 2;
flex-grow: 0;
*/
