/* Variable */
:root {
   --alpha-white: #fafafa;
   --beta-white: #e7e7e3;
   --alpha-blue: #4a69e2;
   --alpha-grey: #232321;
}

/* Notes
   Relative sama saja dengan maju 1 layer. Jadi jika kamu menggunakan style relative, maka objek yang kamu buat akan menjadi layer baru di atas objek-objek yang lainnya. Dan kamu juga bisa mengakses tag *top; *left; *right; *bottom; . 
   
   Jika kamu ingin mempelajari beberapa hal baru dari Front-End, kamu dapa bergabung ke Discord saya untuk pengalaman yang lebih baik */

/* Main Style */
* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   font-family: "Rubik", Poppins, Montserrat, Segoe UI;
}

body {
   background-color: var(--beta-white);
}

nav {
   width: 90%;
   margin: 40px auto;
   padding: 40px;
   gap: 32px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--alpha-white);
   border-radius: 24px;
   position: relative;
}

/* Navbar */
.upperTray-left {
   display: flex;
   gap: 40px;
   align-items: center;
   text-align: center;
}

.upperTray-left li a {
   color: var(--colour-text);
}

.brand-logo {
   width: 128px;
   height: 40px;
   align-items: center;
}

.upperTray-right {
   display: flex;
   gap: 40px;
   align-items: center;
}

#ngga-tau-apaan {
   width: 40px;
   height: 40px;
}

.upperTray-right li a img {
   width: 22px;
   height: 22px;
}

/* Body - Brand Text */
.huge-font {
   font-size: 100px;
   font-weight: 700;
   text-align: center;
}

#right {
   color: #4a69e2;
   flex-direction: column;
}

/* Body -  Main Catalogue */
.main-catalogue {
   width: 90%;
   margin: 0 auto 90px;
   background-image: url(/coding-wosh/assets/brown-kicks-1.png);
   min-height: 750px;
   background-size: cover;
   background-position: center;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   position: relative;
}

.inner-main-catalogue {
   margin: 50px;
   display: flex;
   flex-direction: column;
   position: absolute;
   color: var(--beta-white);
}

.rotated-label {
   background-color: #232321;
   color: var(--alpha-white);
   padding: 24px;
   font-size: 16px;
   font-weight: 500;
   position: absolute;
   rotate: -90deg;
   left: -138px;
   top: 150px;
   border-radius: 0 0 16px 16px;
}

.catalogue-desc {
   display: flex;
   align-items: end;
   position: relative;
   width: 90%;
   top: 275px;
}

.catalogue-desc h1 {
   font-size: 56px;
}

.catalogue-desc p {
   font-size: 24px;
}
.catalogue-desc a {
   color: var(--alpha-white);
   background-color: #4a69e2;
}

.right-box {
   display: flex;
   flex-direction: column;
}

/* Media Screen Query */
@media only screen and (max-width: 688px) {
   nav {
      flex-direction: row;
   }

   .upperTray-left li a {
      flex-direction: row;
      width: 100%;
      text-align: center;
   }

   .upperTray-left {
      flex-direction: row;
      width: 100%;
      text-align: center;
   }
}

/* secret source code >>
/* Auto layout 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

/* Yellow 
background: #FFA52F;
border-radius: 32px;

/* Inside auto layout
flex: none;
order: 2;
flex-grow: 0;
*/
